<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Değirmenci Hukuk</title>

    <link rel="apple-touch-icon" sizes="57x57" href="~/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="~/images/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/images/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="~/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="~/css/animate.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <link rel="stylesheet" href="~/css/aos.css">
    <link rel="stylesheet" href="~/css/ionicons.min.css">
    <link rel="stylesheet" href="~/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/css/jquery.timepicker.css">
    <link rel="stylesheet" href="~/css/flaticon.css">
    <link rel="stylesheet" href="~/css/icomoon.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/custom.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a asp-area="" asp-controller="Home" asp-action="Index">
                <img border="0" alt="logo white" src="~/images/logo_white.png" width="42" height="42" class="imgwhite">
                <img border="0" alt="logo black" src="~/images/logo_black.png" width="42" height="42" class="imgblack">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span>
            </button>
            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a href="#top" class="nav-link">Ana Sayfa</a></li>
                    <li class="nav-item"><a href="#about" class="nav-link">Hakkımızda</a></li>
                    <li class="nav-item"><a href="#practice" class="nav-link">Alanlarımız</a></li>
                    <li class="nav-item"><a href="#blog" class="nav-link">Yayınlar</a></li>
                    <li class="nav-item"><a href="#contact" class="nav-link">İletişim</a></li>
                </ul>
            </div>
        </div>
    </nav>
    @RenderBody()
    <footer class="ftco-footer ftco-bg-dark ftco-section">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Değirmenci Hukuk</h2>
                        <p>
                            <span class="icon icon-map-marker"></span> Acıbadem mah. Yeşiloba sok. No:8 K:1 D:5 Üsküdar/İstanbul
                        </p>
                        <p>
                            <span class="icon icon-envelope"></span><a href="mailto:info@degirmencihukuk.com" target="_top"> info@degirmencihukuk.com</a>
                        </p>
                        <p>
                            <span class="icon icon-phone"></span><a href="tel:+902163270535"> 0216 327 0535</a>
                        </p>
                        <p>
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3010.807225606292!2d29.048552015414042!3d41.00759237930089!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cac7feba30b4cb%3A0xabac334a2d4dc66a!2zQWPEsWJhZGVtLCBZZcWfaWxvYmEgU2suIE5vOjgsIDM0NjYwIMOcc2vDvGRhci_EsHN0YW5idWw!5e0!3m2!1str!2str!4v1577343285612!5m2!1str!2str" width="350" height="300" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                        </p>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4 ml-md-5">
                        <h2 class="ftco-heading-2">Uzmanlık Alanlarımız</h2>
                        <div class="opening-hours">
                            <p><a href="#corpModal">Ticaret ve Şirketler Hukuku</a></p>
                            <p><a href="#socialModal">İş ve Sosyal Güvenlik Hukuku</a></p>
                            <p><a href="#penaltyModal">Ceza ve Ceza Muhakemesi Hukuku</a></p>
                            <p><a href="#taxModal">İdare ve Hukuku Hukuku</a></p>
                            <p><a href="#estateModal">Gayrimenkul ve İnşaat Hukuku</a></p>
                            <p><a href="#heritageModal">Miras Hukuku</a></p>
                            <p><a href="#familyModal">Aile Hukuku</a></p>
                            <p><a href="#bankruptcyModal">İcra ve İflas</a></p>
                            <p><a href="#consumerModal">Tüketici Hukuku</a></p>
                            <p><a href="#itModal">Bilişim Hukuku</a></p>
                            <p><a href="#ideaModal">Fikri Mülkiyet Hukuku</a></p>
                            <p><a href="#brandModal">Marka ve Patent</a></p>
                            <p><a href="#consultancyModal">Hukuki Danışmanlık</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Faydalı Linkler</h2>
                        <div class="opening-hours">
                            <p><a href="https://www.resmigazete.gov.tr/">Resim Gazete</a></p>
                            <p><a href="https://www.mevzuat.gov.tr/">Mevzuat Bilgi Sistemi</a></p>
                            <p><a href="https://www.adalet.gov.tr">T.C. Adalet Bakanlığı</a></p>
                            <p><a href="https://www.anayasa.gov.tr/tr/anasayfa/">Anayasa Mahkemesi</a></p>
                            <p><a href="http://diabgm.adalet.gov.tr">Dış İlişkiler ve Avrupa Birliği G.M.</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>
                        &copy; @DateTime.Now.Year Değirmenci Hukuk Bürosu. Tüm Hakları saklıdır. Design and development <strong><a href="http://ugurdegirmenci.net" target="_blank">Uğur Değirmenci</a></strong>
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.easing.1.3.js"></script>
    <script src="~/js/jquery.waypoints.min.js"></script>
    <script src="~/js/jquery.stellar.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/aos.js"></script>
    <script src="~/js/jquery.animateNumber.min.js"></script>
    <script src="~/js/bootstrap-datepicker.js"></script>
    <script src="~/js/jquery.timepicker.min.js"></script>
    <script src="~/js/scrollax.min.js"></script>
    <script src="~/https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="~/js/google-map.js"></script>
    <script src="~/js/main.js"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
</body>
</html>
