<div class="container-fluid">
    <div class="row justify-content-center mb-5 pb-3">
        <div class="col-md-12 px-5 py-5">
            <div class="row justify-content-start pt-3 pb-3">
                <div class="col-md-12 text-center heading-section ftco-animate">
                    <h2 class="mb-4">Hakkımızda</h2>
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <p style="color:black; font-size:16px;">Değirmenci Hukuk Bürosu olarak; şirketlere, kurumlara ve bireylere hukukun birçok alanında, talebe göre hukuki hizmet sunmakta olan genç ve dinamik bir hukuk bürosudur.</p>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</div>