<div class="container">
    <div class="row justify-content-center mb-5 pb-3">
        <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
            <h2 class="mb-4">Uzmanlık Alanlarımız</h2>
        </div>
    </div>
    <div class="row ftco-animate">
        <div class="col-md-12">
            <div class="carousel-testimony owl-carousel ftco-owl">
                <div class="item">
                    <a data-toggle="modal" href="#familyModal">
                        <div class="testimony-wrap text-center py-4 pb-5">
                            <div class="user-img mb-4" style="background-image: url(images/family.png)">
                                <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="icon-quote-left"></i>
                                </span>
                            </div>
                            <div class="text p-3">
                                <p class="name">Aile Hukuku</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a data-toggle="modal" href="#corpModal">
                        <div class="testimony-wrap text-center py-4 pb-5">
                            <div class="user-img mb-4" style="background-image: url(images/corp.png)">
                                <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="icon-quote-left"></i>
                                </span>
                            </div>
                            <div class="text p-3">
                                <p class="name">Ticaret ve Şirketler Hukuku</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a data-toggle="modal" href="#socialModal">
                        <div class="testimony-wrap text-center py-4 pb-5">
                            <div class="user-img mb-4" style="background-image: url(images/social.png)">
                                <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="icon-quote-left"></i>
                                </span>
                            </div>
                            <div class="text p-3">
                                <p class="name">İş ve Sosyal Güvenlik Hukuk</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a data-toggle="modal" href="#penaltyModal">
                        <div class="testimony-wrap text-center py-4 pb-5">
                            <div class="user-img mb-4" style="background-image: url(images/penalty.png)">
                                <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="icon-quote-left"></i>
                                </span>
                            </div>
                            <div class="text p-3">
                                <p class="name">Ceza ve Ceza Muhakamesi Hukuku</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a data-toggle="modal" href="#taxModal">
                        <div class="testimony-wrap text-center py-4 pb-5">
                            <div class="user-img mb-4" style="background-image: url(images/tax.png)">
                                <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="icon-quote-left"></i>
                                </span>
                            </div>
                            <div class="text p-3">
                                <p class="name">İdare ve Vergi Hukuku</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a data-toggle="modal" href="#estateModal">
                        <div class="testimony-wrap text-center py-4 pb-5">
                            <div class="user-img mb-4" style="background-image: url(images/estate.png)">
                                <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="icon-quote-left"></i>
                                </span>
                            </div>
                            <div class="text p-3">
                                <p class="name">Gayrimenkul ve İnşaat Hukuku</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a data-toggle="modal" href="#heritageModal">
                        <div class="testimony-wrap text-center py-4 pb-5">
                            <div class="user-img mb-4" style="background-image: url(images/heritage.png)">
                                <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="icon-quote-left"></i>
                                </span>
                            </div>
                            <div class="text p-3">
                                <p class="name">Miras Hukuku</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a data-toggle="modal" href="#bankruptcyModal">
                        <div class="testimony-wrap text-center py-4 pb-5">
                            <div class="user-img mb-4" style="background-image: url(images/bankruptcy.png)">
                                <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="icon-quote-left"></i>
                                </span>
                            </div>
                            <div class="text p-3">
                                <p class="name">İcra ve İflas</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a data-toggle="modal" href="#consumerModal">
                        <div class="testimony-wrap text-center py-4 pb-5">
                            <div class="user-img mb-4" style="background-image: url(images/consumer.png)">
                                <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="icon-quote-left"></i>
                                </span>
                            </div>
                            <div class="text p-3">
                                <p class="name">Tüketici Hukuku</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a data-toggle="modal" href="#brandModal">
                        <div class="testimony-wrap text-center py-4 pb-5">
                            <div class="user-img mb-4" style="background-image: url(images/brand.png)">
                                <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="icon-quote-left"></i>
                                </span>
                            </div>
                            <div class="text p-3">
                                <p class="name">Marka ve Patent</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a data-toggle="modal" href="#itModal">
                        <div class="testimony-wrap text-center py-4 pb-5">
                            <div class="user-img mb-4" style="background-image: url(images/it.png)">
                                <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="icon-quote-left"></i>
                                </span>
                            </div>
                            <div class="text p-3">
                                <p class="name">Bilişim Hukuku</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a data-toggle="modal" href="#ideaModal">
                        <div class="testimony-wrap text-center py-4 pb-5">
                            <div class="user-img mb-4" style="background-image: url(images/idea.png)">
                                <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="icon-quote-left"></i>
                                </span>
                            </div>
                            <div class="text p-3">
                                <p class="name">Fikri Mülkiyet Hukuku</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a data-toggle="modal" href="#consultancyModal">
                        <div class="testimony-wrap text-center py-4 pb-5">
                            <div class="user-img mb-4" style="background-image: url(images/consultancy.png)">
                                <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="icon-quote-left"></i>
                                </span>
                            </div>
                            <div class="text p-3">
                                <p class="name">Hukuki Danışmanlık</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Family-->
<div class="portfolio-modal modal fade" id="familyModal" tabindex="-1" role="dialog" aria-hidden="true" *ngIf="project">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 mx-auto">
                        <div class="modal-body">
                            <div class="text-center">
                                <p class="name">Aile Hukuku</p>
                            </div>
                            <ul>
                                <li>Boşanma ve soy bağı davalarının yürütülmesi</li>
                                <li>Anlaşmalı boşanmalarda protokol düzenlenmesi ve yürütülmesi</li>
                                <li>Çekişmeli boşanma davalarında maddi ve manevi tazminat taleplerinin sunulması</li>
                                <li>Boşanmadan sonra mal varlığı tasfiyesinin yürütülmesi</li>
                                <li>Velayet ve nafaka hükümlerine aykırı davranılmasına karşı hukuki çözüm yolları üretilmesi</li>
                                <li>Aile içi şiddet ve benzeri hallerde tedbir kararı alınması</li>
                                <li>Evlat edinmeden kaynaklanan uyuşmazlıkların çözümü</li>
                                <li>Evlenecek taraflar arasında yapılacak malvarlığı sözleşmeleri hakkında danışmanlık hizmeti sağlanması</li>
                                <li>Nişanlanmanın sona ermesinden kaynaklanan ihtilafların çözülmesi</li>
                                <li>Aile Mahkemelerinde görülen tüm uyuşmazlıkların çözümü</li>
                                <li>Aile hukuku alanında tüm mevzuatın güncelliğinin takibi</li>
                                <li>Yurt dışında yaşayan Türk vatandaşlarının aile hukukuna ilişkin Tanıma ve Tenfiz davalarının takibi</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Corporation-->
<div class="portfolio-modal modal fade" id="corpModal" tabindex="-1" role="dialog" aria-hidden="true" *ngIf="project">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 mx-auto">
                        <div class="modal-body">
                            <div class="text-center">
                                <p class="name">Ticaret ve Şirketler Hukuku</p>
                            </div>
                            <ul>
                                <li>Haksız rekabet davaları</li>
                                <li>Şirketlerin alacak davaları</li>
                                <li>İflas ve iflas erteleme davaları</li>
                                <li>Marka-patent başvuru ve davaları</li>
                                <li>Ticaret unvanına tecavüzün önlenmesi davaları</li>
                                <li>Ticari işlerden kaynaklanan tazminat davaları</li>
                                <li>Distribütörlük sözleşmelerinin denetlenmesi, düzenlenmesi</li>
                                <li>Ticaret hukuku alanında Kıymetli Evrak Hukuku, Anonim Şirketler, Limited Şirketler, Şirket Kuruluşları, Şirket Tasfiyeleri, Ortaklık Anlaşmaları, Ortaklar Kurulu Kararları, Genel Kurul Kararları, Şirket Ana Sözleşmeleri konularında hukuki danışmanlık ve avukatlık hizmeti verilmesi</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Social-->
<div class="portfolio-modal modal fade" id="socialModal" tabindex="-1" role="dialog" aria-hidden="true" *ngIf="project">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 mx-auto">
                        <div class="modal-body">
                            <div class="text-center">
                                <p class="name">İş ve Sosyal Güvenlik Hukuk</p>
                            </div>
                            <ul>
                                <li>İş kazası /iş hastalıkları ve iş kazasından/hastalıklarından doğan tazminat davaları ile bunlara ilişkin cezai ve hukuki sorumluluklar hakkında danışmanlık/yükümlülüklerin yerine getirilmesi çalışmalarının sağlanması</li>
                                <li>İş sözleşmesinin feshinden kaynaklı kıdem,ihbar,fazla çalışma, yıllık izin ve maaş alacakları; işe iade davaları</li>
                                <li>Sözleşmenin feshi ve işten çıkarma konularının sulh yolu ile halli</li>
                                <li>Mobbing ve kötü niyet tazminatlarına ilişkin davaların açılması ve takibi</li>
                                <li>İş sözleşmelerinin feshi aşamasının hazırlanması, sözleşmeye uygun fesih denetimi gerçekleştirilmesi</li>
                                <li>Toplu iş sözleşmesi taslaklarının hazırlanması ve müzakerelerin yapılması</li>
                                <li>Çalışma ortamlarının özellikle sağlık ve güvenlik açılarından yürürlükteki mevzuata uyumunun sağlanması</li>
                                <li>İş sözleşmelerinin ve bağlı prosedürlerin Yargıtay uygulaması ışığında güncellenmesi ve/veya yeniden düzenlenmesi</li>
                                <li>İş Kanunu, Sosyal Sigortalar Kanunu ve İşsizlik Sigortası kanunundan doğan Sendikal faaliyetler ile ilgili ihtilafların çözümlenmesi</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Penalty-->
<div class="portfolio-modal modal fade" id="penaltyModal" tabindex="-1" role="dialog" aria-hidden="true" *ngIf="project">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 mx-auto">
                        <div class="modal-body">
                            <div class="text-center">
                                <p class="name">Ceza ve Ceza Muhakamesi Hukuku</p>
                            </div>
                            <ul>
                                <li>
                                    Sulh Ceza, Asliye Ceza, Ağır Ceza, İcra Ceza ve Askeri Ceza davalarında sanık/müşteki vekili sıfatıyla davaların takibi ve sonuçlandırılması
                                </li>
                                <li>Soruşturma aşamasında hazır bulunma ve sürecin yürütülmesi</li>
                                <li>Vergi Ceza davalarının takibi</li>
                                <li>Karşılıksız çeklerden kaynaklı şikâyet işlemlerinin yürütülmesi</li>
                                <li>Danışmanlık Hizmetleri</li>
                                <li>Acil hukuki yardım hal ve durumlarında temsil ve anında müdahale</li>
                                <li>Kambiyo Hukuku, İcra İflas Hukuku Mevzuatı, Fikri ve Sınai Haklar Hukuku’nun Ceza Hukuku boyutu ile ilgili denetimin yapılması ve gerekli önlemlerin alınması</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Tax-->
<div class="portfolio-modal modal fade" id="taxModal" tabindex="-1" role="dialog" aria-hidden="true" *ngIf="project">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 mx-auto">
                        <div class="modal-body">
                            <div class="text-center">
                                <p class="name">İdare ve Vergi Hukuku</p>
                            </div>
                            <ul>
                                <li>
                                    Her türlü idari başvuru ve itirazların yapılması
                                </li>
                                <li>İdari yolların tüketilmesi ve uzlaşma işlemlerinin takibi</li>
                                <li>Dava takibi ve uyuşmazlıkların çözümü</li>
                                <li>Gümrük mevzuatından ve diğer idari cezalar ile vergi suç ve cezalarından kaynaklanan problemlerin çözümü</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Estate-->
<div class="portfolio-modal modal fade" id="estateModal" tabindex="-1" role="dialog" aria-hidden="true" *ngIf="project">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 mx-auto">
                        <div class="modal-body">
                            <div class="text-center">
                                <p class="name">Gayrimenkul ve İnşaat Hukuku</p>
                            </div>
                            <ul>
                                <li>Kat karşılığı inşaat sözleşmesinin hazırlanması ve/veya incelenmesi</li>
                                <li>Taşınmaz sattın alım, satış vaadi sözleşmesinin hazırlanması ve/veya incelenmesi</li>
                                <li>Gayrimenkul alım-satım sözleşmelerinin hazırlanması ve/veya incelenmesi</li>
                                <li>Yönetim planı uygulamaları ve tapuya şerhlerinin yapılması</li>
                                <li>İmar planlarına iptal davalarının açılması</li>
                                <li>Tapu iptal davalarının açılması</li>
                                <li>Yabancıların ülkemizde sahip oldukları taşınmazlarla ilgili vakıflara, kayyumlara, kişilere ve diğer kurum ve kuruluşlara karşı dava açılması</li>
                                <li>Site Yöneticilerine hukuki destek verilmesi, kat maliklerinden alacağı aidat, proje giderleri vs alacakları için icra takibi başlatılması</li>
                                <li>Kat Malikleri Genel kurulu dahil tüm idari süreçlerde döküman hazırlanması desteği sunulması ve Kat mülkiyetinden kaynaklanan ihtilafların çözümü</li>
                                <li>Kira alacaklarının tahsili ve kira tespit davaları</li>
                                <li>İpotek tesisi, ipoteğin paraya çevrilmesi konularının takibi</li>
                                <li>Kamulaştırma davaları</li>
                                <li>Müteahhitlik, tedarik, taşeronluk ve benzeri inşaat hizmetlerine ilişkin sözleşmelerin denetlenmesi</li>
                                <li>İntifa hakkı, geçit hakkı, aynileştirilmiş şahsi haklara ilişkin ihtilafların çözümlenmesi</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Heritage-->
<div class="portfolio-modal modal fade" id="heritageModal" tabindex="-1" role="dialog" aria-hidden="true" *ngIf="project">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 mx-auto">
                        <div class="modal-body">
                            <div class="text-center">
                                <p class="name">Miras Hukuku</p>
                            </div>
                            <ul>
                                <li>Veraset ilamı alınması</li>
                                <li>Ortaklığın giderilmesi (izale-i şüyu)</li>
                                <li>Mirasın reddi davaları</li>
                                <li>Mirasçıdan mal kaçırma davaları</li>
                                <li>Saklı paya ilişkin davalar</li>
                                <li>Tenkis davaları</li>
                                <li>Vasiyetname düzenlenmesi</li>
                                <li>Vasiyetnamenin açılması davaları</li>
                                <li>Vasiyetnamenin iptali davaları</li>
                                <li>Mirasçılık belgesinin iptali davaları</li>
                                <li>Mirasın tespiti davaları</li>
                                <li>Muris muvazaası davaları</li>
                                <li>Mirasın hükmen reddi davaları</li>
                                <li>Mirastan feragat sözleşmesi</li>
                                <li>Miras intikal işlemlerinin yürütülmesi</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Bankruptcy-->
<div class="portfolio-modal modal fade" id="bankruptcyModal" tabindex="-1" role="dialog" aria-hidden="true" *ngIf="project">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 mx-auto">
                        <div class="modal-body">
                            <div class="text-center">
                                <p class="name">İcra ve İflas</p>
                            </div>
                            <ul>
                                <li>Alacağın tahsili amaçlı icra ve iflas takipleri</li>
                                <li>Borçlu ya da alacaklı müvekkiller ile karşı taraf arasında borç tasfiye görüşmeleri ve yapılan sulh anlaşmalarının protokole bağlanması</li>
                                <li>İflas Erteleme</li>
                                <li>Bankaların kredi sözleşmelerinden doğan ihtilaflarının çözümlenmesi</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Consumer-->
<div class="portfolio-modal modal fade" id="consumerModal" tabindex="-1" role="dialog" aria-hidden="true" *ngIf="project">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 mx-auto">
                        <div class="modal-body">
                            <div class="text-center">
                                <p class="name">Tüketici Hukuku</p>
                            </div>
                            <ul>
                                <li>Alım Satım Sözleşmeleri</li>
                                <li>Tüketici hukuku alanında tüm mevzuatın güncelliğinin takibi</li>
                                <li>Tüketici Hakem Heyeti nezdinde yapılacak işlemler</li>
                                <li>Tüketicinin şikayetlerine karşı hukuki çözüm yolları üretmek</li>
                                <li>Satıcı ile alıcı arasında yapılacak sulh görüşmeleri, protokole bağlanması</li>
                                <li>Ayıplı mal ya da ayıplı hizmetten kaynaklanan uyuşmazlıkların çözümü</li>
                                <li>Tüketici ve Ticaret Mahkemelerinde görülen uyuşmazlıkların çözümü</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Brand-->
<div class="portfolio-modal modal fade" id="brandModal" tabindex="-1" role="dialog" aria-hidden="true" *ngIf="project">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 mx-auto">
                        <div class="modal-body">
                            <div class="text-center">
                                <p class="name">Marka ve Patent</p>
                            </div>
                            <ul>
                                <li>Delil tespiti davası</li>
                                <li>Haksız rekabet davaları</li>
                                <li>Marka ve patent tescili ve tescile itiraz davaları</li>
                                <li>Marka, patent, tasarım hakları tecavüzünde ihtiyati tedbir, baskın ve el koyma işlemleri</li>
                                <li>Marka ve patent haklarının korunması, denetlenmesi </li>
                                <li>Marka, patent, tasarım rehini, lisansı ve haczi</li>
                                <li>YİDK karar iptal davası</li>
                                <li>İlim ve edebiyat eser sahipliğinden doğan ihtilaflar</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--It-->
<div class="portfolio-modal modal fade" id="itModal" tabindex="-1" role="dialog" aria-hidden="true" *ngIf="project">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 mx-auto">
                        <div class="modal-body">
                            <div class="text-center">
                                <p class="name">Bilişim Hukuku</p>
                            </div>
                            <ul>
                                <li>Bilişim hukuku alanında en güncel gelişmelerin takibi</li>
                                <li>İnternet yoluyla oluşan hak ihlallerin takibi ve bunların önlenmesi</li>
                                <li>Bilgisayar programları ve internet üzerinden yayınlarla ilgili telif hakkı uyuşmazlıklarının çözümlenmesi</li>
                                <li>Bilişim suçlarına ilişkin yargılamalarda hukuki destek verilmesi</li>
                                <li>Bilişim suçları ve bilişim vasıtalı suçlar</li>
                                <li>Sosyal ağlarda ve internette kişilik hakları</li>
                                <li>Web sitelerine erişim engellemeleri</li>
                                <li>Kişisel verilerin korunması</li>
                                <li>İnternet ortamında telif hakları</li>
                                <li>İnternet ortamında haksız rekabet</li>
                                <li>İnternet ortamında markanın korunması</li>
                                <li>Elektronik ticaret hukuku</li>
                                <li>İnternet ortamında tüketici hakları</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Idea-->
<div class="portfolio-modal modal fade" id="ideaModal" tabindex="-1" role="dialog" aria-hidden="true" *ngIf="project">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 mx-auto">
                        <div class="modal-body">
                            <div class="text-center">
                                <p class="name">Fikri Mülkiyet Hukuku</p>
                            </div>
                            <ul>
                                <li>Marka, patent, endüstriyel tasarım ve faydalı modellerin ulusal ve uluslararası alanda araştırılması, tescili, korunması ve devri işlemleri</li>
                                <li>Marka, patent, endüstriyel tasarım ve faydalı model hakları ile ilgili danışmanlık hizmeti verilmesi ve uyuşmazlıklardan doğan davaların takibi</li>
                                <li>Telif hakları</li>
                                <li>Ticari sırların  kötüye kullanılmasının engellenmesi</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Idea-->
<div class="portfolio-modal modal fade" id="consultancyModal" tabindex="-1" role="dialog" aria-hidden="true" *ngIf="project">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 mx-auto">
                        <div class="modal-body">
                            <div class="text-center">
                                <p class="name">Hukuki Danışmanlık</p>
                            </div>
                            <p>Hukuki Danışmanlık hizmeti kapsamında kurum, kuruluş ve şahıslara yazılı ve sözlü görüş/hukuki mütalaa verilmesi, çeşitli toplantı ve organizasyonlarda müvekkillerin temsil edilmesi, şirket içi toplantılarla bilgilendirme yapılması hizmetleri sağlanmaktadır</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>