#map {
    width: 100%;
    height: 400px;
    background-color: grey;
}

#contactBackGround {
    background-size: 675px 733px;
    background-repeat: no-repeat;
}
.ftco-navbar-light .imgblack {
    display: none;
    position: absolute;
}

.ftco-navbar-light .imgwhite {
    display: inline;
}

.ftco-navbar-light.scrolled .imgblack {
    display: inline;
}

.ftco-navbar-light.scrolled .imgwhite {
    display: none;
    position: absolute;
}