@model DH.Entities.Entities.User

<div class="col-md-12">
    @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)
    @Html.DisplayFor(model => model.Username)
    @Html.DisplayFor(model => model.Description)
</div>  